@font-face {
    font-family: 'brasley-bold';
    src: url('https://online.encodeplus.com/regs/overlandpark-ks-cp/common/custom/brasley-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
